<div class="wrapper">
  <div class="section section__top">
    <div class="logo-frame">
      <img 
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/768px-Pok%C3%A9_Ball_icon.svg.png?20161023215848"
        draggable="false"
        class="animate-spin"
      />
    </div>

    <h2 class="text-title">Pokédex</h2>
  </div>

  <div class="section section__bottom">
    <div class="chatbox">
      <p>Opening Pokédex, please wait..</p>  
    </div>
  </div>
</div>