ion-menu {
  @media screen and (min-width: 432px) {
    width: 432px;
    margin: 0 auto;
    transform: translateX(-9px);
  }
}

.menu-content {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  min-height: 100%;
  background-color: var(--color-background);
  color: var(--color-black);

  button {
    display: block;
    padding: 14px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    background-color: transparent;

    &:active {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}