/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

:root {
  --color-primary: #BAAA84;
  --color-background: #D9D1BA;
  --color-white: #F0F0F0;
  --color-black: #050505;

  --color-element-normal: #999999;
  --color-element-fire: #EE6B3A;
  --color-element-water: #578BC9;
  --color-element-grass: #6CB643;
  --color-element-poison: #7A57A1;
  --color-element-flying: #A4C7EC;
  --color-element-dragon: #5360A9;
  --color-element-electric: #F8DC4A;
  --color-element-ground: #A37C40;
  --color-element-bug: #A2A53D;
  --color-element-psychic: #E9797B;
  --color-element-fighting: #F1A73C;
  --color-element-ice: #70B9E8;
  --color-element-rock: #BABA92;
  --color-element-ghost: #5360A9;
  --color-element-dark: #4D4843;
  --color-element-steel: #79AFD1;
  --color-element-fairy: #DFB8D6;

  --text-shadow-sm: 0px 2px 4px rgba(0,0,0, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
}

// Normalize
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

// Reusable classes
.chatbox__group {
  margin-bottom: 12px;
  
  .chatbox {
    position: relative;
  }

  .chatbox:nth-child(1) {
    z-index: 1;
  }

  .chatbox:nth-child(2) {
    margin-top: -16px;
    padding-top: 22px;
  }
}

.chatbox {
  width: 100%;
  padding: 12px 14px;
  min-height: 100px;
  background-color: var(--color-white);
  color: var(--color-black);
  border: 4px solid #A2C3D5;
  border-radius: 26px;

  &.chatbox--primary {
    border-color: var(--color-primary);

  }
  
  &.chatbox--fill {
    background-color: var(--color-background);
  }
}

.flex-1 {
  flex: 1;
}

.font-bold {
  font-size: bold;
}

.text-center {
  text-align: center;
}

.chip {
  display: inline-block;
  background-color: var(--color-element-normal);
  padding: 4px 18px;
  font-size: 14px;
  border-radius: 50px;
  
  &.chip--sm {
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 8px;
  }
}

.animate-spin {
  animation: spinning 3s ease-in-out infinite;
}

// Animation Keyframes
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}